// $base-font-size
$base-font-size:              16;

// $base-line-height
$base-line-height:            1.5;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semi-bold:       500 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal !default;

$font-size-base:              $base-font-size !default;
$line-height-base:            $base-line-height !default;


