// our journey
.our-journey {
  padding-bottom: 250px;
  @media (max-width: 767.98px) { 
    padding-bottom: 240px;
  }
}
.bg-card-border {
  &:before {
    content: "";
    border: 1px solid $white-smoke;
    position: absolute;
    top: 20px;
    right: 30px;
    width: calc(100% - 3%);
    height: calc(100% - 0%);
    @media (max-width: 767.98px) { 
      display:none;
    }

  }
}
.journey-wrapper {
  padding: 25px;
  background-color: $white;
  position: relative;
  z-index: 999;
  .journey-item {
    @media (max-width: 767.98px) { 
      padding-bottom: 40px !important;
      padding-top: 40px !important;
      border-bottom: 1px solid $white-smoke;
    }
    img {
      height: 50px;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: $very-dark-gray;
    }
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .journey-grid {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
    }
  }
  @media (min-width: 768px) {
    .journey-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .journey-item {
      padding: 35px 20px;
      border-top: 1px solid $white-smoke;
      border-left: 1px solid $white-smoke;
      &:nth-child(-n + 2) {
        border-top: none;
      }
      &:nth-child(odd) {
        border-left: none;
      }
    }
  }

  @media (min-width: 992px) {
    .journey-item {
      border-top: 1px solid $white-smoke;
      border-left: 1px solid $white-smoke;
      &:nth-child(-n + 2) {
        border-top: 1px solid $white-smoke;
      }
      &:nth-child(odd) {
        border-left: 1px solid $white-smoke;
      }
      &:nth-child(-n + 3) {
        border-top: none;
      }
      &:first-child,
      &:nth-child(3n + 1) {
        border-left: none;
      }
    }
  }
}
