.subscribe-us{
    .subscribe-form{
        @media (max-width: 767.98px) { 
            flex-direction: column;
        }
        .subscribe-input{
            height: 54px;
            padding: 0px 25px;
            background-color: transparent !important;
            color: $white !important;
            font-weight: $font-weight-semi-bold;
            @media (max-width: 767.98px) { 
                width: 100%;
            }
            @include placeholder{
                color: $white;
                @include opacity();
            }
            &:focus{
                background-color: transparent !important;
                box-shadow: none !important;
                border-color: $white;
            }
        }
        .btn-default{
            &:hover{
                background-color: $white !important;
                color: $color-primary !important;
            }
            @media (max-width: 767.98px) { 
                width: 100%;
                margin-top: 20px;
                padding: 14px;
            }
        }
    }
}